@mixin flex {
    display: flex;
    display: -webkit-flex;
}

@mixin baseFontSize($font-size: 0.28rem, $line-height: 0.48rem, $color: #4D555D, $font-family: PingFangSC-Regular) {

    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    line-height: $line-height;
}

@mixin baseBottomButton($width:5.4rem) {
    .button {
        width: $width;
        @include flex();
        justify-content: space-between;

        a {
            box-sizing: border-box;
            display: block;
            width: 2.4rem;
            height: 0.72rem;
            border: solid 1px #009999;
            border-radius: 0.36rem;
            text-align: center;
            @include baseFontSize ($line-height: 0.72rem,
                $color:#fff);

            color: #009999 !important;

            &.active {
                background: #009999;

                color: #fff !important;
            }
        }

    }
}

* {
    padding: 0;
    margin: 0;
}

:link,
:visited {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
}

.cloud {
    @include flex();
    justify-content: center;
}

.bgf3 {
    background: #F3F5F7;
}

#container {
    #header {
        @include flex();
        justify-content: center;
        height: 0.88rem;

        .nav {
            @include flex();
            justify-content: space-around;
            align-items: center;
            width: 100%;

            img {
                width: 1.579rem;
                height: 0.38rem;
            }

            .menu {
                @include flex();
                justify-content: space-between;
                width: 5.04rem;
                font-family: PingFangSC-Regular;
                font-size: 0.36rem;
                color: rgba(0, 0, 0, 0.85);
                line-height: 0.5rem;
            }
        }

    }

    #banner {

        a {
            @include flex();
            justify-content: center;
            overflow: hidden;

            img {
                width: 19.77rem;
                height: 8rem;
            }
        }
    }

    #main {
        @include flex();
        justify-content: center;

        .main_container {
            // width: 6.7rem;

            width: 100%;

            .contain {

                padding-top: 0.5rem;

                >.header {
                    text-align: center;
                    height: 1.09rem;

                    h2 {
                        @include baseFontSize($font-family:PingFangSC-Medium,
                            $color:#30363E,
                            $line-height:0.67rem,

                            $font-size: 0.48rem);
                    }

                    span {
                        display: block;
                        @include baseFontSize ($line-height: 0.4rem);
                    }
                }

                >.content {
                    .title {
                        display: block;
                        @include baseFontSize($line-height: 0.52rem)
                    }

                    &.xxnr {
                        margin-top: 0.17rem;
                        ul.menu_side {
                            list-style-type: none;

                            >li {
                                margin-top: 0.2rem;
                                margin-bottom: 0.2rem;
                            }

                            >li.sli {

                                .menu_title {

                                    background: #009999;
                                    width: 6.7rem;
                                    @include flex();
                                    justify-content: space-between;

                                    border-radius: 0.4rem 0 0.4rem 0;

                                    >.name {
                                        width: 1.6rem;
                                        height: 0.8rem;
                                        text-align: center;
                                        background: #E3783D;
                                        @include baseFontSize($color: #FFFFFF,
                                            $line-height: 0.8rem);
                                        border-radius: 0.4rem 0 0.4rem 0;
                                    }

                                    .detail {

                                        width: 5.1rem;
                                        height: 0.8rem;
                                        cursor: pointer;
                                        @include flex();
                                        justify-content: space-between;
                                        padding: 0 0.16rem 0 0.23rem;

                                        .content {
                                            @include baseFontSize($line-height: 0.8rem,
                                                $color: #FFFFFF);
                                            height: 0.8rem;
                                        }

                                        .button {

                                            @include baseFontSize($line-height: 0.8rem,
                                                $color: #FFFFFF);

                                            height: 0.8rem;
                                            @include flex();
                                            align-items: center;
                                            img {
                                                width: 0.28rem;
                                                height: 0.15rem;
                                                margin-right: 0.1rem;
                                            }
                                        }
                                    }
                                }

                                .menu_content {
                                    width: 6.7rem;

                                    span {
                                        display: block;
                                    }

                                    .left {
                                        width: 2.04rem;
                                        @include baseFontSize($color: #30363E,
                                            $line-height:0.4rem);
                                        @include flex();
                                        justify-content: center;

                                        .left_content {
                                            width: 1.12rem;
                                        }
                                    }

                                    .right {
                                        width: 4.66rem;
                                        @include baseFontSize($color: #4D555D);

                                    }

                                    .content_top {
                                        margin-top: 0.2rem;
                                        @include flex();
                                        justify-content: space-between;
                                        padding-bottom: 0.21rem;
                                        border-bottom: 1px dashed #009999;

                                    }

                                    .content_bottom {
                                        margin-top: 0.2rem;
                                        @include flex();
                                        justify-content: space-between;
                                    }
                                }
                            }
                        }
                    }

                    //php好学吗？
                    &.hx {
                        margin-top: 0.54rem;

                        .title {
                            width: 6.7rem;
                        }

                        .img {
                            margin-top: 0.31rem;

                            img {
                                width: 6.01rem;
                                height: 3.12rem;
                            }
                        }

                        .footer {
                            margin-top: 0.3rem;
                            width: 6.7rem;
                            display: block;
                            @include baseFontSize ();
                        }
                    }

                    &.pxxf {

                        margin-top: 0.62rem;

                        .img {

                            img {
                                width: 5.68rem;
                                height: 5.2rem;
                            }
                        }

                        .footer {
                            margin-top: 0.3rem;
                            width: 6.7rem;
                            display: block;
                            @include baseFontSize ();
                        }
                    }

                    //就业情况
                    &.jyqj {
                        margin-bottom: 0.6rem;

                        .app {
                            margin-top: 0.6rem;

                            >.title {
                                @include flex();
                                justify-content: center;

                                span {
                                    display: block;
                                    @include baseFontSize($font-family: PingFangSC-Medium,
                                        $font-size: 0.32rem,
                                        $color: #30363E,
                                        $line-height:0.54rem)
                                }

                                .line {
                                    margin-top: 0.04rem;
                                    width: 1.6rem;
                                    height: 0.08rem;
                                    background: #00B1B1;
                                    margin: 0 auto;
                                }
                            }

                            >.content {

                                .img {
                                    margin-top: 0.61rem;
                                    text-align: center;

                                    img {
                                        width: 5.8rem;
                                        height: 5.31rem;
                                    }

                                    //php应用
                                    img.phpyy {
                                        width: 5.2rem;
                                        height: 4.04rem;
                                    }
                                }

                                .content {
                                    margin-top: 0.3rem;
                                    display: block;
                                    width: 6.7rem;
                                    @include baseFontSize();
                                }

                                .content_list {
                                    margin-top: 0.2rem;
                                    margin-bottom: 0.1rem;

                                    .kuai {
                                        width: 6.7rem;
                                        height: 2rem;

                                        position: relative;

                                        .box {
                                            position: absolute;
                                            bottom: 0;

                                            img {
                                                width: 1.6rem;
                                                height: 1.6rem;
                                                position: absolute;
                                                bottom: 0;
                                                left: 2.55rem;
                                            }

                                            .box_content {
                                                height: 1.7rem;
                                                @include flex();
                                                justify-content: center;

                                                .left,
                                                .right {
                                                    width: 3.35rem;

                                                    .body {
                                                        span {
                                                            width: 3.35rem;
                                                            display: block;
                                                        }


                                                        .body_content {
                                                            @include baseFontSize($font-size: 0.24rem,
                                                                $line-height: 0.33rem)
                                                        }
                                                    }
                                                }

                                                .left {
                                                    .body {
                                                        text-align: right;

                                                        .body_title {
                                                            box-sizing: border-box;
                                                            padding-right: 0.92rem;
                                                            @include baseFontSize($font-family: PingFangSC-Medium,
                                                                $font-size: 0.32rem,
                                                                $line-height:0.45rem)
                                                        }

                                                        .body_content {
                                                            box-sizing: border-box;
                                                            padding-right: 0.92rem;
                                                            padding-bottom: 0.155rem;
                                                            border-bottom: solid 1px #979797;
                                                        }
                                                    }
                                                }

                                                .right {
                                                    overflow: hidden;
                                                    .body {
                                                        .body_title {
                                                            padding-left: 0.4rem;
                                                            text-align: center;
                                                            @include baseFontSize($font-size: 0.24rem,
                                                                $line-height:0.45rem);

                                                            border-bottom: solid 1px #979797;

                                                            cite {
                                                                font-style: normal;
                                                                font-size: 0.32rem;
                                                            }
                                                        }

                                                        .body_content {
                                                            margin-top: 0.1rem;
                                                            box-sizing: border-box;
                                                            padding-left: 0.92rem;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .card_contain {
                                    margin-top: 0.3rem;
                                }

                                //php最好时代
                                .card {
                                    margin-top: 0.3rem;

                                    .img {
                                        margin-top: none;

                                        img {
                                            width: 3.04rem;
                                            height: 3.04rem;
                                        }
                                    }

                                    span {
                                        display: block;
                                        width: 6.7rem;
                                    }

                                    .card_title {
                                        margin-top: 0.37rem;
                                        text-align: center;
                                        @include baseFontSize($font-family: PingFangSC-Medium,
                                            $line-height: 0.56rem);
                                    }

                                    .card_content {
                                        margin-top: 0.12rem;
                                        @include baseFontSize($line-height: 0.56rem);
                                    }
                                }
                            }

                            >.bottom {
                                margin-top: 0.51rem;
                                @include baseBottomButton();
                            }
                        }
                    }

                    //就业薪资
                    &.jyxz {
                        .data {
                            margin-top: 0.37rem;
                            width: 6.7rem;
                            height: 9rem;
                            background: #FFFFFF;
                            border-radius: 0.15rem;

                            .img {

                                img {
                                    width: 6.37rem;
                                    height: 4.91rem;
                                    margin: 0.5rem 0.03rem 0 0.3rem;
                                }
                            }

                            span {
                                display: block;
                                width: 5.9rem;
                                padding-left: 0.4rem;

                                cite {
                                    font-style: normal;
                                    color: #BB0000;
                                }
                            }

                            .title {
                                margin-top: 0.43rem;
                                @include baseFontSize($font-family: PingFangSC-Medium,
                                    $font-size: 0.32rem,
                                    $line-height:0.45rem);
                            }

                            .content {
                                margin-top: 0.15rem;
                                @include baseFontSize($line-height: 0.52rem);
                            }
                        }

                        .report {
                            margin-top: 0.32rem;
                            width: 6.7rem;
                            height: 10.7rem;
                            background: #FFFFFF;
                            border-radius: 0.15rem;
                            position: relative;

                            .decorate {
                                width: 4.26rem;
                                @include flex();
                                justify-content: space-between;

                                img {
                                    width: 0.14rem;
                                    height: 0.67rem;
                                }

                                position: absolute;
                                top: -0.54rem;
                            }

                            .report_contain {
                                width: 6.2rem;

                                >span {
                                    margin-top: 0.16rem;
                                    display: block;

                                    @include baseFontSize($font-size:0.24rem,
                                        $color: #999,
                                        $line-height: 0.33rem);
                                }
                            }

                            table {
                                border-collapse: collapse;
                                border-spacing: 0rem;
                                width: 6.2rem;

                                caption {
                                    height: 1.15rem;
                                    @include baseFontSize($line-height: 1.15rem,
                                        $color:#333,
                                        $font-size: 0.32rem);
                                }

                                thead {
                                    @include baseFontSize($font-size: 0.28rem,
                                        $color: #FFFFFF,
                                        $line-height: 0.84rem);
                                    background: #009999;
                                    height: 0.84rem;
                                }

                                tr {
                                    text-align: center;
                                }

                                tbody {
                                    td:nth-child(1) {
                                        text-align: right;
                                    }
                                    td:nth-child(2) {
                                        text-align: center;
                                        padding-left: 0.1rem;
                                    }
                                    tr {
                                        @include baseFontSize($color: #333333,
                                            $font-size: 0.28rem,
                                            $line-height: 0.84rem);
                                        height: 0.84rem;
                                    }

                                    tr:nth-child(2n+1) {
                                        background: #DDF1F1;
                                    }

                                    tr:nth-child(2n+0) {
                                        box-sizing: border-box;
                                        background: #EFEFEF;
                                        border-top: #FFFFFF solid 1px;
                                        border-bottom: #FFFFFF solid 1px;
                                    }
                                }

                                tfoot {
                                    tr {

                                        background: #EFEFEF;

                                        td {
                                            padding: 0.13rem;
                                        }
                                    }

                                    .footer {

                                        display: flex;
                                        display: -webkit-flex;
                                        justify-content: space-between;

                                        img {
                                            width: 0.8rem;
                                            height: 0.76rem;
                                            padding-top: 0.33rem;
                                        }

                                        span {
                                            width: 4.81rem;
                                            display: block;
                                            @include baseFontSize($font-size: 0.28rem,
                                                $color: #30363E,
                                                $line-height: 0.46rem);

                                            text-align: left;
                                        }
                                    }
                                }
                            }

                        }
                    }

                    &.bghj {
                        >.title {
                            @include flex();
                            justify-content: center;
                            margin-top: 0.35rem;

                            .title_contain {
                                box-sizing: border-box;
                                width: 6.7rem;
                                height: 4.5rem;
                                background: #F3F5F7;
                                border: 1px solid #ECECEC;
                                border-radius: 0.04rem;
                                padding: 0.28rem 0.44rem 0.3rem 0.35rem;

                                span {
                                    display: block;
                                }

                                .span_title {
                                    @include baseFontSize($font-family: PingFangSC-Medium,
                                        $font-size: 0.32rem,
                                        $line-height: 0.56rem);
                                }

                                .span_content {
                                    @include baseFontSize($line-height: 0.56rem);
                                }
                            }
                        }

                        >.content {
                            @include flex();
                            justify-content: center;
                            margin-top: 0.1rem;

                            .content_contain {
                                height: 7.86rem;
                                width: 6.7rem;

                                .kuai {
                                    padding: 0.35rem 0 0.17rem 0;
                                    @include flex();
                                    justify-content: space-between;

                                    .kuai_img {
                                        position: relative;
                                        height: 2.1rem;
                                        width: 3.16rem;

                                        img {
                                            width: 3.16rem;
                                            height: 2.1rem;
                                        }

                                        .font {
                                            box-sizing: border-box;
                                            width: 100%;
                                            position: absolute;
                                            bottom: 0;
                                            display: block;
                                            background: rgba(0, 0, 0, 0.50);
                                            padding: 0.099rem 0 0.091rem 0.194rem;
                                            @include baseFontSize($font-size: 0.24rem,
                                                $color: #FFFFFF,
                                                $line-height:0.33rem);
                                        }
                                    }
                                }
                            }
                        }

                        >.bottom {
                            .bottom_contain {
                                width: 6.7rem;

                                .left_dot {
                                    margin-top: 0.3rem;
                                    width: 0.48rem;
                                    height: 0.44rem;

                                    img {

                                        width: 0.48rem;
                                        height: 0.44rem;
                                    }
                                }

                                .bottom_content {
                                    margin-top: 0.76rem;
                                    width: 5.5rem;
                                    @include baseFontSize($line-height: 0.52rem);
                                }

                                .right_dot {
                                    margin-top: 3.82rem;
                                    width: 0.48rem;
                                    height: 0.44rem;

                                    img {

                                        width: 0.48rem;
                                        height: 0.44rem;
                                    }
                                }
                            }
                        }
                    }

                    &.jyqk {
                        >.content {
                            margin-top: 0.55rem;
                            height: 9.47rem;
                            width: 6.7rem;
                            background: #fff;
                            border-radius: 0 0 0.08rem 0.08rem;

                            .line {
                                height: 0.05rem;
                                background: #E3783D;

                                .green_line {
                                    width: 2.4rem;
                                    height: 0.05rem;
                                    margin-left: 0.314rem;
                                    background: #0E8694;
                                }
                            }

                            .tags {
                                margin-top: 1px;

                                span {
                                    display: block;
                                    background: #0E8694;
                                    width: 2.4rem;
                                    height: 0.76rem;
                                    margin-left: 0.314rem;
                                    text-align: center;
                                    @include baseFontSize($color: #FFFFFF,
                                        $line-height: 0.76rem);
                                }
                            }

                            .table {

                                table {
                                    border-collapse: collapse;
                                    width: 6.637rem;

                                    thead {
                                        background: #DDF1F1;
                                        height: 0.8rem;
                                        @include baseFontSize($color: #000000,
                                            $line-height: 0.8rem);
                                        td:nth-child(1) {
                                            padding-left: 0.25rem;
                                        }

                                        td:nth-child(3) {
                                            padding-right: 0.25rem;
                                        }
                                    }

                                    tr {
                                        height: 0.76rem;
                                        text-align: center;
                                    }

                                    td:nth-child(2) {
                                        padding-left: 0.4rem;
                                        text-align: left;
                                    }

                                    td:nth-child(3) {
                                        text-align: center;
                                        padding-right: 0.25rem;
                                    }
                                    td:nth-child(1) {

                                        padding-left: 0.2rem;
                                    }

                                    tbody {
                                        tr {
                                            @include baseFontSize($color: #333333,
                                                $line-height: 0.77rem);
                                        }

                                        tr:nth-child(2n+0) {
                                            background: #DDF1F1;
                                        }

                                        tr:nth-child(2n+1) {
                                            box-sizing: border-box;
                                            background: #EFEFEF;
                                            border-top: #FFFFFF solid 1px;
                                            border-bottom: #FFFFFF solid 1px;
                                        }
                                    }
                                }
                            }
                        }


                    }

                    &.szll {
                        margin-top: 0.74rem;

                        >.content {
                            .lunbo {
                                width: 6.7rem;

                                .kuai {
                                    @include flex();
                                    justify-content: space-between;

                                    .image {
                                        box-sizing: border-box;
                                        background: #F4F4F4;
                                        width: 3.2rem;
                                        height: 3.64rem;

                                        img {
                                            width: 3.2rem;
                                            height: 2.8rem;
                                        }

                                        .font {
                                            display: block;
                                            width: 1.2rem;
                                            height: 0.84rem;
                                            padding-left: 0.2rem;
                                            @include baseFontSize($font-size: 0.3rem,
                                                $line-height:0.84rem);
                                        }
                                    }
                                }
                            }

                            .lunbo_line {
                                margin-top: 0.4rem;

                                span {
                                    display: block;
                                    width: 0.36rem;
                                    height: 0.05rem;
                                    background: #D6EDED;
                                    margin-right: 0.11rem;

                                    &.active {
                                        background: #00B1B1;
                                    }
                                }
                            }
                        }
                    }

                    &.jyxy {
                        .card {
                            margin-top: 0.53rem;

                            .img {
                                img {
                                    width: 3.04rem;
                                    height: 3.19rem;
                                }
                            }

                            .card_title {
                                margin-top: 0.34rem;
                                text-align: center;
                                @include baseFontSize($font-family: PingFangSC-Medium,
                                    $font-size: 0.32rem,
                                    $line-height: 0.45rem);
                            }

                            .card_content {
                                @include flex();
                                justify-content: center;
                                margin-top: 0.16rem;

                                span {
                                    display: block;
                                    text-align: center;
                                    width: 6.2rem;
                                    @include baseFontSize();
                                }

                            }
                        }
                    }

                    &.tzgx {
                        margin-top: 0.56rem;

                        .logo_line {

                            .line {
                                width: 6.7rem;
                                @include flex();
                                justify-content: space-between;
                                margin-bottom: 0.4rem;
                            }

                            .last {
                                margin-left: 1.73rem;
                                width: 3.25rem;
                                @include flex();
                                justify-content: space-between;
                                margin-bottom: 1.5rem;
                            }

                            img {
                                width: 1.52rem;
                                height: 1.72rem;
                            }
                        }
                    }
                }

                >.bottom {
                    margin-top: 0.52rem;
                    @include baseBottomButton();

                    &.last {
                        padding-bottom: 0.6rem;
                    }
                }

                #szll {
                    @include baseBottomButton(2.4rem);
                }
            }
        }
    }

    // #footer {
    //     @include flex();
    //     justify-content: center;
    //     position: fixed;
    //     bottom: 0;

    //     .left,
    //     .right {
    //         a {
    //             display: block;
    //             width: 3.75rem;
    //             height: 0.98rem;

    //             .a_contain {
    //                 padding-top: 0.2rem;
    //                 @include flex();
    //                 justify-content: center;

    //                 span {
    //                     margin-left: 0.1rem;
    //                     display: block;
    //                     @include baseFontSize($font-size: 0.42rem,
    //                         $color: #FFFFFF,
    //                         $line-height: 0.59rem);
    //                 }

    //                 .img {
    //                     @include flex();
    //                     align-items: center;
    //                     img {
    //                         width: 0.48rem;
    //                         height: 0.48rem;
    //                     }
    //                 }

    //             }
    //         }
    //     }

    //     .left {
    //         a {
    //             background: #009999;
    //         }
    //     }

    //     .right {
    //         a {
    //             background: #E3783D;
    //         }
    //     }
    // }
}