* {
  padding: 0;
  margin: 0; }

:link,
:visited {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none; }

.cloud {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.bgf3 {
  background: #F3F5F7; }

#container #header {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  height: 0.88rem; }
  #container #header .nav {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
    #container #header .nav img {
      width: 1.579rem;
      height: 0.38rem; }
    #container #header .nav .menu {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      width: 5.04rem;
      font-family: PingFangSC-Regular;
      font-size: 0.36rem;
      color: rgba(0, 0, 0, 0.85);
      line-height: 0.5rem; }

#container #banner a {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 8rem;
  background: url("../img/banner.jpg") no-repeat center top;
  background-size: 7.5rem 8rem; }

#container #main {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }
  #container #main .main_container {
    width: 100%; }
    #container #main .main_container .contain {
      padding-top: 0.5rem; }
      #container #main .main_container .contain > .header {
        text-align: center;
        height: 1.09rem; }
        #container #main .main_container .contain > .header h2 {
          font-family: PingFangSC-Medium;
          font-size: 0.48rem;
          color: #30363E;
          line-height: 0.67rem; }
        #container #main .main_container .contain > .header span {
          display: block;
          font-family: PingFangSC-Regular;
          font-size: 0.28rem;
          color: #4D555D;
          line-height: 0.4rem; }
      #container #main .main_container .contain > .content .title {
        display: block;
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        color: #4D555D;
        line-height: 0.52rem; }
      #container #main .main_container .contain > .content.xxnr {
        margin-top: 0.17rem; }
        #container #main .main_container .contain > .content.xxnr ul.menu_side {
          list-style-type: none; }
          #container #main .main_container .contain > .content.xxnr ul.menu_side > li {
            margin-top: 0.2rem;
            margin-bottom: 0.2rem; }
          #container #main .main_container .contain > .content.xxnr ul.menu_side > li.sli .menu_title {
            background: #009999;
            width: 6.7rem;
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            border-radius: 0.4rem 0 0.4rem 0; }
            #container #main .main_container .contain > .content.xxnr ul.menu_side > li.sli .menu_title > .name {
              width: 1.6rem;
              height: 0.8rem;
              text-align: center;
              background: #E3783D;
              font-family: PingFangSC-Regular;
              font-size: 0.28rem;
              color: #FFFFFF;
              line-height: 0.8rem;
              border-radius: 0.4rem 0 0.4rem 0; }
            #container #main .main_container .contain > .content.xxnr ul.menu_side > li.sli .menu_title .detail {
              width: 5.1rem;
              height: 0.8rem;
              cursor: pointer;
              display: flex;
              display: -webkit-flex;
              justify-content: space-between;
              padding: 0 0.16rem 0 0.23rem; }
              #container #main .main_container .contain > .content.xxnr ul.menu_side > li.sli .menu_title .detail .content {
                font-family: PingFangSC-Regular;
                font-size: 0.28rem;
                color: #FFFFFF;
                line-height: 0.8rem;
                height: 0.8rem; }
              #container #main .main_container .contain > .content.xxnr ul.menu_side > li.sli .menu_title .detail .button {
                font-family: PingFangSC-Regular;
                font-size: 0.28rem;
                color: #FFFFFF;
                line-height: 0.8rem;
                height: 0.8rem;
                display: flex;
                display: -webkit-flex;
                align-items: center; }
                #container #main .main_container .contain > .content.xxnr ul.menu_side > li.sli .menu_title .detail .button img {
                  width: 0.28rem;
                  height: 0.15rem;
                  margin-right: 0.1rem; }
          #container #main .main_container .contain > .content.xxnr ul.menu_side > li.sli .menu_content {
            width: 6.7rem; }
            #container #main .main_container .contain > .content.xxnr ul.menu_side > li.sli .menu_content span {
              display: block; }
            #container #main .main_container .contain > .content.xxnr ul.menu_side > li.sli .menu_content .left {
              width: 2.04rem;
              font-family: PingFangSC-Regular;
              font-size: 0.28rem;
              color: #30363E;
              line-height: 0.4rem;
              display: flex;
              display: -webkit-flex;
              justify-content: center; }
              #container #main .main_container .contain > .content.xxnr ul.menu_side > li.sli .menu_content .left .left_content {
                width: 1.12rem; }
            #container #main .main_container .contain > .content.xxnr ul.menu_side > li.sli .menu_content .right {
              width: 4.66rem;
              font-family: PingFangSC-Regular;
              font-size: 0.28rem;
              color: #4D555D;
              line-height: 0.48rem; }
            #container #main .main_container .contain > .content.xxnr ul.menu_side > li.sli .menu_content .content_top {
              margin-top: 0.2rem;
              display: flex;
              display: -webkit-flex;
              justify-content: space-between;
              padding-bottom: 0.21rem;
              border-bottom: 1px dashed #009999; }
            #container #main .main_container .contain > .content.xxnr ul.menu_side > li.sli .menu_content .content_bottom {
              margin-top: 0.2rem;
              display: flex;
              display: -webkit-flex;
              justify-content: space-between; }
      #container #main .main_container .contain > .content.hx {
        margin-top: 0.54rem; }
        #container #main .main_container .contain > .content.hx .title {
          width: 6.7rem; }
        #container #main .main_container .contain > .content.hx .img {
          margin-top: 0.31rem; }
          #container #main .main_container .contain > .content.hx .img img {
            width: 6.01rem;
            height: 3.12rem; }
        #container #main .main_container .contain > .content.hx .footer {
          margin-top: 0.3rem;
          width: 6.7rem;
          display: block;
          font-family: PingFangSC-Regular;
          font-size: 0.28rem;
          color: #4D555D;
          line-height: 0.48rem; }
      #container #main .main_container .contain > .content.pxxf {
        margin-top: 0.62rem; }
        #container #main .main_container .contain > .content.pxxf .img img {
          width: 5.68rem;
          height: 5.2rem; }
        #container #main .main_container .contain > .content.pxxf .footer {
          margin-top: 0.3rem;
          width: 6.7rem;
          display: block;
          font-family: PingFangSC-Regular;
          font-size: 0.28rem;
          color: #4D555D;
          line-height: 0.48rem; }
      #container #main .main_container .contain > .content.jyqj {
        margin-bottom: 0.6rem; }
        #container #main .main_container .contain > .content.jyqj .app {
          margin-top: 0.6rem; }
          #container #main .main_container .contain > .content.jyqj .app > .title {
            display: flex;
            display: -webkit-flex;
            justify-content: center; }
            #container #main .main_container .contain > .content.jyqj .app > .title span {
              display: block;
              font-family: PingFangSC-Medium;
              font-size: 0.32rem;
              color: #30363E;
              line-height: 0.54rem; }
            #container #main .main_container .contain > .content.jyqj .app > .title .line {
              margin-top: 0.04rem;
              width: 1.6rem;
              height: 0.08rem;
              background: #00B1B1;
              margin: 0 auto; }
          #container #main .main_container .contain > .content.jyqj .app > .content .img {
            margin-top: 0.61rem;
            text-align: center; }
            #container #main .main_container .contain > .content.jyqj .app > .content .img img {
              width: 5.8rem;
              height: 5.31rem; }
            #container #main .main_container .contain > .content.jyqj .app > .content .img img.phpyy {
              width: 5.2rem;
              height: 4.04rem; }
          #container #main .main_container .contain > .content.jyqj .app > .content .content {
            margin-top: 0.3rem;
            display: block;
            width: 6.7rem;
            font-family: PingFangSC-Regular;
            font-size: 0.28rem;
            color: #4D555D;
            line-height: 0.48rem; }
          #container #main .main_container .contain > .content.jyqj .app > .content .content_list {
            margin-top: 0.2rem;
            margin-bottom: 0.1rem; }
            #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai {
              width: 6.7rem;
              height: 2rem;
              position: relative; }
              #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box {
                position: absolute;
                bottom: 0; }
                #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box img {
                  width: 1.6rem;
                  height: 1.6rem;
                  position: absolute;
                  bottom: 0;
                  left: 2.55rem; }
                #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content {
                  height: 1.7rem;
                  display: flex;
                  display: -webkit-flex;
                  justify-content: center; }
                  #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content .left,
                  #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content .right {
                    width: 3.35rem; }
                    #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content .left .body span,
                    #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content .right .body span {
                      width: 3.35rem;
                      display: block; }
                    #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content .left .body .body_content,
                    #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content .right .body .body_content {
                      font-family: PingFangSC-Regular;
                      font-size: 0.24rem;
                      color: #4D555D;
                      line-height: 0.33rem; }
                  #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content .left .body {
                    text-align: right; }
                    #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content .left .body .body_title {
                      box-sizing: border-box;
                      padding-right: 0.92rem;
                      font-family: PingFangSC-Medium;
                      font-size: 0.32rem;
                      color: #4D555D;
                      line-height: 0.45rem; }
                    #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content .left .body .body_content {
                      box-sizing: border-box;
                      padding-right: 0.92rem;
                      padding-bottom: 0.155rem;
                      border-bottom: solid 1px #979797; }
                  #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content .right {
                    overflow: hidden; }
                    #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content .right .body .body_title {
                      box-sizing: border-box;
                      padding-left: 0.7rem;
                      text-align: center;
                      font-family: PingFangSC-Regular;
                      font-size: 0.24rem;
                      color: #4D555D;
                      line-height: 0.45rem;
                      border-bottom: solid 1px #979797; }
                      #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content .right .body .body_title cite {
                        font-style: normal;
                        font-size: 0.32rem; }
                    #container #main .main_container .contain > .content.jyqj .app > .content .content_list .kuai .box .box_content .right .body .body_content {
                      margin-top: 0.1rem;
                      box-sizing: border-box;
                      padding-left: 0.92rem; }
          #container #main .main_container .contain > .content.jyqj .app > .content .card_contain {
            margin-top: 0.3rem; }
          #container #main .main_container .contain > .content.jyqj .app > .content .card {
            margin-top: 0.3rem; }
            #container #main .main_container .contain > .content.jyqj .app > .content .card .img {
              margin-top: none; }
              #container #main .main_container .contain > .content.jyqj .app > .content .card .img img {
                width: 3.04rem;
                height: 3.04rem; }
            #container #main .main_container .contain > .content.jyqj .app > .content .card span {
              display: block;
              width: 6.7rem; }
            #container #main .main_container .contain > .content.jyqj .app > .content .card .card_title {
              margin-top: 0.37rem;
              text-align: center;
              font-family: PingFangSC-Medium;
              font-size: 0.28rem;
              color: #4D555D;
              line-height: 0.56rem; }
            #container #main .main_container .contain > .content.jyqj .app > .content .card .card_content {
              margin-top: 0.12rem;
              font-family: PingFangSC-Regular;
              font-size: 0.28rem;
              color: #4D555D;
              line-height: 0.56rem; }
          #container #main .main_container .contain > .content.jyqj .app > .bottom {
            margin-top: 0.51rem; }
            #container #main .main_container .contain > .content.jyqj .app > .bottom .button {
              width: 5.4rem;
              display: flex;
              display: -webkit-flex;
              justify-content: space-between; }
              #container #main .main_container .contain > .content.jyqj .app > .bottom .button a {
                box-sizing: border-box;
                display: block;
                width: 2.4rem;
                height: 0.72rem;
                border: solid 1px #009999;
                border-radius: 0.36rem;
                text-align: center;
                font-family: PingFangSC-Regular;
                font-size: 0.28rem;
                color: #fff;
                line-height: 0.7rem;
                color: #009999 !important; }
                #container #main .main_container .contain > .content.jyqj .app > .bottom .button a.active {
                  background: #009999;
                  color: #fff !important; }
      #container #main .main_container .contain > .content.jyxz .data {
        margin-top: 0.37rem;
        width: 6.7rem;
        height: 9rem;
        background: #FFFFFF;
        border-radius: 0.15rem; }
        #container #main .main_container .contain > .content.jyxz .data .img img {
          width: 6.11rem;
          height: 4.91rem;
          margin: 0.5rem 0rem 0 0rem; }
        #container #main .main_container .contain > .content.jyxz .data span {
          display: block;
          width: 5.9rem;
          padding-left: 0.4rem; }
          #container #main .main_container .contain > .content.jyxz .data span cite {
            font-style: normal;
            color: #BB0000; }
        #container #main .main_container .contain > .content.jyxz .data .title {
          margin-top: 0.43rem;
          font-family: PingFangSC-Medium;
          font-size: 0.32rem;
          color: #4D555D;
          line-height: 0.45rem; }
        #container #main .main_container .contain > .content.jyxz .data .content {
          margin-top: 0.15rem;
          font-family: PingFangSC-Regular;
          font-size: 0.28rem;
          color: #4D555D;
          line-height: 0.52rem; }
      #container #main .main_container .contain > .content.jyxz .report {
        margin-top: 0.32rem;
        width: 6.7rem;
        height: 10.7rem;
        background: #FFFFFF;
        border-radius: 0.15rem;
        position: relative; }
        #container #main .main_container .contain > .content.jyxz .report .decorate {
          width: 4.26rem;
          display: flex;
          display: -webkit-flex;
          justify-content: space-between;
          position: absolute;
          top: -0.54rem; }
          #container #main .main_container .contain > .content.jyxz .report .decorate img {
            width: 0.14rem;
            height: 0.67rem; }
        #container #main .main_container .contain > .content.jyxz .report .report_contain {
          width: 6.2rem; }
          #container #main .main_container .contain > .content.jyxz .report .report_contain > span {
            margin-top: 0.16rem;
            display: block;
            font-family: PingFangSC-Regular;
            font-size: 0.24rem;
            color: #999;
            line-height: 0.33rem; }
        #container #main .main_container .contain > .content.jyxz .report table {
          border-collapse: collapse;
          border-spacing: 0rem;
          width: 6.2rem; }
          #container #main .main_container .contain > .content.jyxz .report table caption {
            height: 1.15rem;
            font-family: PingFangSC-Regular;
            font-size: 0.32rem;
            color: #333;
            line-height: 1.15rem; }
          #container #main .main_container .contain > .content.jyxz .report table thead {
            font-family: PingFangSC-Regular;
            font-size: 0.28rem;
            color: #FFFFFF;
            line-height: 0.84rem;
            background: #009999;
            height: 0.84rem; }
          #container #main .main_container .contain > .content.jyxz .report table tr {
            text-align: center; }
          #container #main .main_container .contain > .content.jyxz .report table tbody td:nth-child(1) {
            text-align: right; }
          #container #main .main_container .contain > .content.jyxz .report table tbody td:nth-child(2) {
            text-align: center;
            padding-left: 0.1rem; }
          #container #main .main_container .contain > .content.jyxz .report table tbody tr {
            font-family: PingFangSC-Regular;
            font-size: 0.28rem;
            color: #333333;
            line-height: 0.84rem;
            height: 0.84rem; }
          #container #main .main_container .contain > .content.jyxz .report table tbody tr:nth-child(2n+1) {
            background: #DDF1F1; }
          #container #main .main_container .contain > .content.jyxz .report table tbody tr:nth-child(2n+0) {
            box-sizing: border-box;
            background: #EFEFEF;
            border-top: #FFFFFF solid 1px;
            border-bottom: #FFFFFF solid 1px; }
          #container #main .main_container .contain > .content.jyxz .report table tfoot tr {
            background: #EFEFEF; }
            #container #main .main_container .contain > .content.jyxz .report table tfoot tr td {
              padding: 0.13rem; }
          #container #main .main_container .contain > .content.jyxz .report table tfoot .footer {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between; }
            #container #main .main_container .contain > .content.jyxz .report table tfoot .footer img {
              width: 0.8rem;
              height: 0.76rem;
              padding-top: 0.33rem; }
            #container #main .main_container .contain > .content.jyxz .report table tfoot .footer span {
              width: 4.81rem;
              display: block;
              font-family: PingFangSC-Regular;
              font-size: 0.28rem;
              color: #30363E;
              line-height: 0.46rem;
              text-align: left; }
      #container #main .main_container .contain > .content.bghj > .title {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        margin-top: 0.35rem; }
        #container #main .main_container .contain > .content.bghj > .title .title_contain {
          box-sizing: border-box;
          width: 6.7rem;
          height: 4.5rem;
          background: #F3F5F7;
          border: 1px solid #ECECEC;
          border-radius: 0.04rem;
          padding: 0.28rem 0.44rem 0.3rem 0.35rem; }
          #container #main .main_container .contain > .content.bghj > .title .title_contain span {
            display: block; }
          #container #main .main_container .contain > .content.bghj > .title .title_contain .span_title {
            font-family: PingFangSC-Medium;
            font-size: 0.32rem;
            color: #4D555D;
            line-height: 0.56rem; }
          #container #main .main_container .contain > .content.bghj > .title .title_contain .span_content {
            font-family: PingFangSC-Regular;
            font-size: 0.28rem;
            color: #4D555D;
            line-height: 0.56rem; }
      #container #main .main_container .contain > .content.bghj > .content {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        margin-top: 0.1rem; }
        #container #main .main_container .contain > .content.bghj > .content .content_contain {
          height: 7.86rem;
          width: 6.7rem; }
          #container #main .main_container .contain > .content.bghj > .content .content_contain .kuai {
            padding: 0.35rem 0 0.17rem 0;
            display: flex;
            display: -webkit-flex;
            justify-content: space-between; }
            #container #main .main_container .contain > .content.bghj > .content .content_contain .kuai .kuai_img {
              position: relative;
              height: 2.1rem;
              width: 3.16rem; }
              #container #main .main_container .contain > .content.bghj > .content .content_contain .kuai .kuai_img img {
                width: 3.16rem;
                height: 2.1rem; }
              #container #main .main_container .contain > .content.bghj > .content .content_contain .kuai .kuai_img .font {
                box-sizing: border-box;
                width: 100%;
                position: absolute;
                bottom: 0;
                display: block;
                background: rgba(0, 0, 0, 0.5);
                padding: 0.099rem 0 0.091rem 0.194rem;
                font-family: PingFangSC-Regular;
                font-size: 0.24rem;
                color: #FFFFFF;
                line-height: 0.33rem; }
      #container #main .main_container .contain > .content.bghj > .bottom .bottom_contain {
        width: 6.7rem; }
        #container #main .main_container .contain > .content.bghj > .bottom .bottom_contain .left_dot {
          margin-top: 0.3rem;
          width: 0.48rem;
          height: 0.44rem; }
          #container #main .main_container .contain > .content.bghj > .bottom .bottom_contain .left_dot img {
            width: 0.48rem;
            height: 0.44rem; }
        #container #main .main_container .contain > .content.bghj > .bottom .bottom_contain .bottom_content {
          margin-top: 0.76rem;
          width: 5.5rem;
          font-family: PingFangSC-Regular;
          font-size: 0.28rem;
          color: #4D555D;
          line-height: 0.52rem; }
        #container #main .main_container .contain > .content.bghj > .bottom .bottom_contain .right_dot {
          margin-top: 3.82rem;
          width: 0.48rem;
          height: 0.44rem; }
          #container #main .main_container .contain > .content.bghj > .bottom .bottom_contain .right_dot img {
            width: 0.48rem;
            height: 0.44rem; }
      #container #main .main_container .contain > .content.jyqk > .content {
        margin-top: 0.55rem;
        height: 9.37rem;
        width: 6.7rem;
        background: #fff;
        border-radius: 0 0 0.08rem 0.08rem; }
        #container #main .main_container .contain > .content.jyqk > .content .line {
          height: 0.05rem;
          background: #E3783D; }
          #container #main .main_container .contain > .content.jyqk > .content .line .green_line {
            width: 2.4rem;
            height: 0.05rem;
            margin-left: 0.314rem;
            background: #0E8694; }
        #container #main .main_container .contain > .content.jyqk > .content .tags {
          margin-top: 1px; }
          #container #main .main_container .contain > .content.jyqk > .content .tags span {
            display: block;
            background: #0E8694;
            width: 2.4rem;
            height: 0.76rem;
            margin-left: 0.314rem;
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: 0.28rem;
            color: #FFFFFF;
            line-height: 0.76rem; }
        #container #main .main_container .contain > .content.jyqk > .content .table table {
          border-collapse: collapse;
          width: 6.637rem;
          table-layout: fixed; }
          #container #main .main_container .contain > .content.jyqk > .content .table table thead {
            background: #DDF1F1;
            height: 0.8rem;
            font-family: PingFangSC-Regular;
            font-size: 0.28rem;
            color: #000000;
            line-height: 0.8rem; }
            #container #main .main_container .contain > .content.jyqk > .content .table table thead td:nth-child(1) {
              padding-left: 0.25rem; }
            #container #main .main_container .contain > .content.jyqk > .content .table table thead td:nth-child(3) {
              padding-right: 0.25rem; }
          #container #main .main_container .contain > .content.jyqk > .content .table table tr {
            height: 0.76rem;
            text-align: center; }
          #container #main .main_container .contain > .content.jyqk > .content .table table td:nth-child(1) {
            width: 1.2rem;
            padding-left: 0.2rem; }
          #container #main .main_container .contain > .content.jyqk > .content .table table td:nth-child(2) {
            width: 2.9rem;
            padding-left: 0.4rem;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
          #container #main .main_container .contain > .content.jyqk > .content .table table td:nth-child(3) {
            width: 1.5rem;
            text-align: center;
            padding-right: 0.25rem; }
          #container #main .main_container .contain > .content.jyqk > .content .table table tbody tr {
            font-family: PingFangSC-Regular;
            font-size: 0.28rem;
            color: #333333;
            line-height: 0.77rem; }
          #container #main .main_container .contain > .content.jyqk > .content .table table tbody tr:nth-child(2n+0) {
            background: #DDF1F1; }
          #container #main .main_container .contain > .content.jyqk > .content .table table tbody tr:nth-child(2n+1) {
            box-sizing: border-box;
            background: #EFEFEF;
            border-top: #FFFFFF solid 1px;
            border-bottom: #FFFFFF solid 1px; }
      #container #main .main_container .contain > .content.szll {
        margin-top: 0.74rem;
        height: 4.6rem; }
        #container #main .main_container .contain > .content.szll > .content {
          height: 4.8rem; }
          #container #main .main_container .contain > .content.szll > .content .lunbo {
            width: 6.7rem; }
            #container #main .main_container .contain > .content.szll > .content .lunbo .kuai {
              display: flex;
              display: -webkit-flex;
              justify-content: space-between;
              width: 6.7rem; }
              #container #main .main_container .contain > .content.szll > .content .lunbo .kuai .image {
                box-sizing: border-box;
                background: #F4F4F4;
                width: 3.2rem;
                height: 3.64rem;
                margin-right: 0.3rem; }
                #container #main .main_container .contain > .content.szll > .content .lunbo .kuai .image img {
                  width: 3.2rem;
                  height: 2.8rem; }
                #container #main .main_container .contain > .content.szll > .content .lunbo .kuai .image .font {
                  display: block;
                  width: 1.2rem;
                  height: 0.84rem;
                  padding-left: 0.2rem;
                  font-family: PingFangSC-Regular;
                  font-size: 0.3rem;
                  color: #4D555D;
                  line-height: 0.84rem; }
          #container #main .main_container .contain > .content.szll > .content .lunbo_line {
            margin-top: 0.4rem; }
            #container #main .main_container .contain > .content.szll > .content .lunbo_line span {
              display: block;
              width: 0.36rem;
              height: 0.05rem;
              background: #D6EDED;
              margin-right: 0.11rem; }
              #container #main .main_container .contain > .content.szll > .content .lunbo_line span.active {
                background: #00B1B1; }
      #container #main .main_container .contain > .content.jyxy .card {
        margin-top: 0.53rem; }
        #container #main .main_container .contain > .content.jyxy .card .img img {
          width: 3.04rem;
          height: 3.19rem; }
        #container #main .main_container .contain > .content.jyxy .card .card_title {
          margin-top: 0.34rem;
          text-align: center;
          font-family: PingFangSC-Medium;
          font-size: 0.32rem;
          color: #4D555D;
          line-height: 0.45rem; }
        #container #main .main_container .contain > .content.jyxy .card .card_content {
          display: flex;
          display: -webkit-flex;
          justify-content: center;
          margin-top: 0.16rem; }
          #container #main .main_container .contain > .content.jyxy .card .card_content span {
            display: block;
            text-align: center;
            width: 6.2rem;
            font-family: PingFangSC-Regular;
            font-size: 0.28rem;
            color: #4D555D;
            line-height: 0.48rem; }
      #container #main .main_container .contain > .content.tzgx {
        margin-top: 0.56rem; }
        #container #main .main_container .contain > .content.tzgx .logo_line .line {
          width: 6.7rem;
          display: flex;
          display: -webkit-flex;
          justify-content: space-between;
          margin-bottom: 0.4rem; }
        #container #main .main_container .contain > .content.tzgx .logo_line .last {
          margin-left: 1.73rem;
          width: 3.25rem;
          display: flex;
          display: -webkit-flex;
          justify-content: space-between;
          margin-bottom: 1.5rem; }
        #container #main .main_container .contain > .content.tzgx .logo_line img {
          width: 1.52rem;
          height: 1.72rem; }
      #container #main .main_container .contain > .bottom {
        margin-top: 0.52rem; }
        #container #main .main_container .contain > .bottom .button {
          width: 5.4rem;
          display: flex;
          display: -webkit-flex;
          justify-content: space-between; }
          #container #main .main_container .contain > .bottom .button a {
            box-sizing: border-box;
            display: block;
            width: 2.4rem;
            height: 0.72rem;
            border: solid 1px #009999;
            border-radius: 0.36rem;
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: 0.28rem;
            color: #fff;
            line-height: 0.7rem;
            color: #009999 !important; }
            #container #main .main_container .contain > .bottom .button a.active {
              background: #009999;
              color: #fff !important; }
        #container #main .main_container .contain > .bottom.last {
          padding-bottom: 0.6rem; }
      #container #main .main_container .contain #szll .button {
        width: 2.4rem;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between; }
        #container #main .main_container .contain #szll .button a {
          box-sizing: border-box;
          display: block;
          width: 2.4rem;
          height: 0.72rem;
          border: solid 1px #009999;
          border-radius: 0.36rem;
          text-align: center;
          font-family: PingFangSC-Regular;
          font-size: 0.28rem;
          color: #fff;
          line-height: 0.7rem;
          color: #009999 !important; }
          #container #main .main_container .contain #szll .button a.active {
            background: #009999;
            color: #fff !important; }
