@font-face {
  font-family: 'PingFangSC-Regular';
  src: url("./font/PingFang Regular.otf?v1=1") format("opentype"), url("./font/PingFang-Regular.woff") format("woff"), url("./font/PingFang-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'PingFangSC-Semibold';
  src: url("./font/PingFang-SC-Semibold.otf?v1=1") format("opentype"), url("./font/PingFang-SC-Semibold.woff") format("woff"), url("./font/PingFang-SC-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: "PingFangSC-Medium";
  src: url("./font/PingFangMedium.otf?v1=2") format("opentype"), url("./font/PingFangMedium.woff") format("woff"), url("./font/PingFangMedium.ttf") format("truetype"); }

* {
  padding: 0;
  margin: 0; }

:link {
  text-decoration: none;
  color: #B6B6B6; }

:visited {
  color: #B6B6B6; }

a:hover {
  text-decoration: none;
  color: #B6B6B6; }

.container {
  position: relative;
  min-width: 1161px;
  width: 100%;
  padding: 0;
  margin: 0; }

#header .contain {
  height: 48px;
  background-color: #333333;
  display: flex;
  display: -webkit-flex;
  justify-content: center; }
  #header .contain .content {
    display: flex;
    display: -webkit-flex;
    width: 1200px;
    align-items: center; }
    #header .contain .content .logo {
      width: 121px;
      height: 31px; }
    #header .contain .content .menu {
      display: flex;
      display: -webkit-flex;
      width: 100%;
      justify-content: flex-end; }
      #header .contain .content .menu ul {
        list-style: none;
        width: 699px;
        height: 22px;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between; }
        #header .contain .content .menu ul li a {
          font-size: 13px;
          line-height: 22px;
          font-family: PingFangSC-Medium; }

#main {
  margin-bottom: 60px; }
  #main .banner {
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    background: url("../img/banner1-2@2x.jpg") no-repeat top center;
    background-size: 2233px 697px;
    height: 697px; }
  #main .contain {
    margin: 0 auto;
    width: 1161px; }
    #main .contain > .content {
      margin-top: 61px; }
      #main .contain > .content .c_title {
        width: 1138px;
        padding-left: 12px;
        height: 167px;
        background: url("../img/btbg.png") no-repeat right top;
        background-size: 615px 167px; }
        #main .contain > .content .c_title h2 {
          padding-top: 50px;
          line-height: 67px;
          font-family: PingFangSC-Semibold;
          font-size: 48px;
          color: #30363E; }
        #main .contain > .content .c_title p {
          line-height: 25px;
          font-family: PingFangSC-Medium;
          font-size: 18px;
          color: #4D555D; }
      #main .contain > .content .c_line {
        margin: 11px 0;
        height: 11px;
        width: 1161px;
        background: url("../img/btline.png") no-repeat;
        background-size: 1161px 11px; }
      #main .contain > .content .c_body {
        margin: 31px 0;
        display: flex;
        display: -webkit-flex;
        justify-content: center; }
        #main .contain > .content .c_body .c_body_content {
          width: 1161px; }
          #main .contain > .content .c_body .c_body_content .c_body_top.xxnr {
            display: flex;
            display: -webkit-flex;
            justify-content: center; }
            #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side {
              width: 1134px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul {
                list-style-type: none; }
                #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li {
                  margin-bottom: 2px; }
                #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli .title {
                  display: flex;
                  display: -webkit-flex;
                  justify-content: space-between; }
                  #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli .title .name {
                    width: 110px;
                    height: 58px;
                    background: #E3783D;
                    font-family: PingFangSC-Regular;
                    font-size: 20px;
                    color: #FFFFFF;
                    line-height: 58px;
                    text-align: center; }
                  #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli .title .detail {
                    width: 1134px;
                    height: 58px;
                    cursor: pointer;
                    display: flex;
                    display: -webkit-flex;
                    justify-content: space-between;
                    padding: 0 24px 0 21px;
                    background: #0E8694; }
                    #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli .title .detail .content {
                      font-family: PingFangSC-Regular;
                      font-size: 18px;
                      color: #FFFFFF;
                      line-height: 58px;
                      height: 58px; }
                    #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli .title .detail .button {
                      font-family: PingFangSC-Regular;
                      font-size: 18px;
                      color: #FFFFFF;
                      line-height: 58px;
                      height: 58px; }
                      #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli .title .detail .button img {
                        width: 20px;
                        height: 11px; }
                #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli ul.sub {
                  list-style-type: none; }
                  #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli ul.sub .sub_content {
                    display: flex;
                    display: -webkit-flex;
                    justify-content: space-between;
                    padding-right: 16px;
                    padding-left: 30px; }
                    #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli ul.sub .sub_content .left {
                      padding: 11px 0;
                      width: 248px;
                      font-family: PingFangSC-Regular;
                      font-size: 14px;
                      color: #4D555D;
                      line-height: 28px;
                      display: flex;
                      display: -webkit-flex;
                      align-items: center; }
                    #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli ul.sub .sub_content .right {
                      padding: 11px 0;
                      box-sizing: border-box;
                      width: 840px;
                      font-family: PingFangSC-Regular;
                      font-size: 14px;
                      color: #4D555D;
                      line-height: 28px;
                      display: flex;
                      display: -webkit-flex;
                      align-items: center; }
                      #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli ul.sub .sub_content .right .right_content span {
                        padding-right: 10px; }
                  #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli ul.sub li {
                    border-bottom: 2px solid #FFFFFF; }
                  #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli ul.sub > li:nth-child(2n+1) {
                    background: #DDF1F1; }
                  #main .contain > .content .c_body .c_body_content .c_body_top.xxnr .menu_side > ul > li.sli ul.sub > li:nth-child(2n+0) {
                    background: #F3F5F7; }
          #main .contain > .content .c_body .c_body_content .c_body_top.hx {
            display: flex;
            display: -webkit-flex;
            justify-content: center; }
            #main .contain > .content .c_body .c_body_content .c_body_top.hx img.hx_img {
              width: 548px;
              height: 286px; }
            #main .contain > .content .c_body .c_body_content .c_body_top.hx .c_body_top_content {
              margin-left: 79px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.hx .c_body_top_content .c_body_font {
                margin-top: 14px;
                line-height: 28px;
                font-size: 14px;
                color: #4D555D; }
                #main .contain > .content .c_body .c_body_content .c_body_top.hx .c_body_top_content .c_body_font h5 {
                  color: #4D555D;
                  line-height: 28px;
                  font-family: PingFangSC-Medium;
                  font-size: 14px; }
                #main .contain > .content .c_body .c_body_content .c_body_top.hx .c_body_top_content .c_body_font span {
                  font-family: PingFangSC-Regular;
                  font-size: 14px;
                  color: #4D555D;
                  line-height: 28px; }
          #main .contain > .content .c_body .c_body_content .c_body_top.jy {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between; }
            #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left {
              width: 498px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_header {
                display: flex;
                display: -webkit-flex;
                justify-content: flex-start;
                height: 20px; }
                #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_header span {
                  display: block; }
                #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_header .title {
                  width: 130px;
                  display: flex;
                  display: -webkit-flex;
                  align-items: center;
                  margin-right: 38px; }
                  #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_header .title.green .kuai {
                    background: #3CB3B3; }
                  #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_header .title.yellow .kuai {
                    background: #FFCC66; }
                  #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_header .title .kuai {
                    width: 16px;
                    height: 12px;
                    margin-right: 8px; }
                  #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_header .title .font {
                    font-family: PingFangSC-Medium;
                    font-size: 14px;
                    color: #333333; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_img {
                margin-top: 28.5px; }
                #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_img img {
                  width: 496px;
                  height: 251px; }
                #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_img .bottom {
                  display: flex;
                  display: -webkit-flex;
                  justify-content: space-between;
                  width: 411px;
                  line-height: 22px;
                  font-family: PingFangSC-Regular;
                  font-size: 16px;
                  color: #333333;
                  margin-left: 61px; }
                  #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_img .bottom span {
                    display: block; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_content {
                margin-top: 24px; }
                #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_content span {
                  display: block; }
                #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_content .title {
                  margin-bottom: 9px;
                  font-family: PingFangSC-Medium;
                  font-size: 18px;
                  color: #4D555D; }
                #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_content .content {
                  font-family: PingFangSC-Medium;
                  font-size: 16px;
                  color: #4D555D;
                  line-height: 30px; }
                  #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_content .content cite {
                    font-style: normal;
                    color: #BB0000; }
                  #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_left .body_left_content .content span {
                    width: 100%;
                    height: 30px; }
            #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content table {
              border-collapse: collapse;
              width: 612px;
              height: 428px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content table caption {
                font-family: PingFangSC-Medium;
                font-size: 18px;
                color: #4D555D;
                margin-bottom: 6px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content table thead {
                background: #009999;
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #FFFFFF; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content table tr {
                height: 42px;
                text-align: center; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content table tbody td:nth-child(1) {
                padding-left: 10px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content table tbody tr {
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #333333;
                line-height: 42px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content table tbody tr:nth-child(2n+1) {
                background: #DDF1F1; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content table tbody tr:nth-child(2n+0) {
                box-sizing: border-box;
                background: #EFEFEF;
                border-top: #FFFFFF solid 1px;
                border-bottom: #FFFFFF solid 1px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content table tfoot tr {
                background: #EFEFEF; }
                #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content table tfoot tr td {
                  padding: 13px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content table tfoot .footer {
                display: flex;
                display: -webkit-flex;
                justify-content: space-between; }
                #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content table tfoot .footer img {
                  box-sizing: content-box;
                  width: 60px;
                  height: 57px;
                  padding: 7px 12px 4px 7px; }
                #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content table tfoot .footer span {
                  width: 507px;
                  display: block;
                  font-family: PingFangSC-Regular;
                  font-size: 16px;
                  color: #30363E;
                  text-align: left; }
            #main .contain > .content .c_body .c_body_content .c_body_top.jy .c_body_top_content > span {
              margin-top: 7px;
              display: block;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #999999; }
          #main .contain > .content .c_body .c_body_content .c_body_top.bghj .top {
            background: #F3F5F7;
            border: 1px solid #ECECEC;
            border-radius: 4px;
            width: 1160px;
            height: 124px;
            margin-bottom: 30px; }
            #main .contain > .content .c_body .c_body_content .c_body_top.bghj .top .font_content {
              padding: 12.7px 38.2px 15.3px 30.8px;
              font-family: PingFangSC-Medium;
              font-size: 16px;
              color: #4D555D;
              line-height: 32px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.bghj .top .font_content h5 {
                font-family: PingFangSC-Medium;
                font-size: 16px;
                color: #4D555D;
                line-height: 32px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.bghj .top .font_content span {
                font-family: PingFangSC-Regular;
                font-size: 16px;
                color: #4D555D;
                line-height: 32px; }
          #main .contain > .content .c_body .c_body_content .c_body_top.bghj .img_line {
            width: 1160px;
            display: flex;
            display: -webkit-flex;
            justify-content: space-between; }
            #main .contain > .content .c_body .c_body_content .c_body_top.bghj .img_line img {
              width: 224px;
              height: 148px; }
          #main .contain > .content .c_body .c_body_content .c_body_top.bghj .bottom_content {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between; }
            #main .contain > .content .c_body .c_body_content .c_body_top.bghj .bottom_content .font_content {
              display: flex;
              display: -webkit-flex;
              width: 993px;
              margin-top: 9px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.bghj .bottom_content .font_content .left_dot,
              #main .contain > .content .c_body .c_body_content .c_body_top.bghj .bottom_content .font_content .right_dot {
                width: 30px;
                display: block;
                font-family: ArialMT;
                font-size: 90px;
                color: #E3783D; }
              #main .contain > .content .c_body .c_body_content .c_body_top.bghj .bottom_content .font_content .left_dot {
                margin-right: 14px;
                background: url("../img/yinhaoright1@2x.png") no-repeat top left;
                background-size: 25px 23px;
                margin-top: 25px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.bghj .bottom_content .font_content .right_dot {
                margin-top: 110px;
                height: 60px;
                background: url("../img/yinhaoleft1@2x.png") no-repeat top left;
                background-size: 25px 23px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.bghj .bottom_content .font_content .content {
                width: 896px;
                font-family: PingFangSC-Regular;
                font-size: 16px;
                color: #4D555D;
                line-height: 28px;
                margin-top: 48px; }
            #main .contain > .content .c_body .c_body_content .c_body_top.bghj .bottom_content a {
              margin-top: 47px;
              display: block;
              background: #009999;
              border-radius: 24px;
              width: 160px;
              height: 48px;
              text-align: center;
              line-height: 48px;
              font-family: PingFangSC-Regular;
              font-size: 16px;
              color: #FFFFFF; }
          #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_line {
            width: 1161px;
            height: 5px;
            background: #E3783D;
            margin-bottom: 1px; }
            #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_line .check_line {
              width: 142px;
              height: 5px;
              background: #0E8694;
              margin-left: 303px; }
          #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_content .header {
            margin-bottom: 2px; }
            #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_content .header a {
              display: block;
              background: #0E8694;
              width: 142px;
              height: 52px;
              line-height: 52px;
              text-align: center;
              margin-left: 303px;
              font-family: PingFangSC-Regular;
              font-size: 16px;
              color: #FFFFFF; }
          #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_content .content {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between; }
            #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_content .content table {
              border-collapse: collapse;
              width: 576px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_content .content table thead {
                background: #DDF1F1;
                font-family: PingFangSC-Regular;
                font-size: 16px;
                color: rgba(0, 0, 0, 0.85); }
                #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_content .content table thead tr {
                  height: 48px;
                  text-align: center; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_content .content table td:nth-child(4) {
                text-align: left;
                padding-left: 22px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_content .content table td:nth-child(1) {
                text-align: left;
                padding-left: 22px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_content .content table tbody td:nth-child(1) {
                text-align: left;
                padding-left: 30px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_content .content table tbody td {
                padding: 0 22px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_content .content table tbody tr {
                font-family: PingFangSC-Regular;
                font-size: 16px;
                color: #333333;
                line-height: 39px;
                height: 38px;
                text-align: center; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_content .content table tbody tr:nth-child(2n+0) {
                background: #DDF1F1; }
              #main .contain > .content .c_body .c_body_content .c_body_top.jyqk .body_content .content table tbody tr:nth-child(2n+1) {
                box-sizing: border-box;
                background: #EFEFEF;
                border-top: #FFFFFF solid 1px;
                border-bottom: #FFFFFF solid 1px; }
          #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher {
            width: 1000px;
            height: 240px;
            background: #F3F5F7;
            border: 1px solid #ECECEC;
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            font-weight: 200; }
            #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher .body_content {
              margin: 27px 31px 31px 31px;
              width: 655px;
              position: relative; }
              #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher .body_content span {
                font-family: PingFangSC-Regular;
                font-size: 16px;
                color: #444444;
                line-height: 32px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher .body_content a {
                display: block;
                background: #009999;
                border-radius: 5px;
                font-family: PingFangSC-Medium;
                font-size: 18px;
                color: #FFFFFF;
                width: 160px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                position: absolute;
                bottom: 0; }
            #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher .man .quan {
              background: #E37235;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              text-align: center;
              line-height: 20px;
              font-family: PingFangSC-Medium;
              font-size: 18px;
              color: #FFFFFF; }
              #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher .man .quan span {
                display: block;
                margin-top: 20px; }
            #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher .man .kuai {
              width: 220px;
              height: 136px;
              opacity: 0.3;
              background: #009999;
              z-index: 22; }
            #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher.a {
              margin-top: 110px;
              position: relative;
              margin-bottom: 160px;
              margin-left: 54px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher.a .man .quan {
                position: absolute;
                bottom: 207px;
                right: 162px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher.a .man .kuai {
                position: absolute;
                bottom: -25px;
                right: 15px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher.a img {
                position: absolute;
                width: 194px;
                height: 361px;
                bottom: -25px;
                right: -54px;
                z-index: 20; }
            #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher.b {
              position: relative;
              margin-left: 118px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher.b .man .quan {
                position: absolute;
                bottom: 207px;
                left: 162px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher.b .man .kuai {
                position: absolute;
                bottom: -25px;
                left: 25px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher.b .man img {
                position: absolute;
                width: 260px;
                height: 369.8px;
                bottom: -24.8px;
                left: -85px;
                z-index: 20; }
              #main .contain > .content .c_body .c_body_content .c_body_top.sjll .teacher.b .body_content a {
                position: absolute;
                bottom: 0;
                right: 0; }
          #main .contain > .content .c_body .c_body_content .c_body_top.tpq .logo_line .line {
            width: 1160px;
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            margin-bottom: 32px; }
          #main .contain > .content .c_body .c_body_content .c_body_top.tpq .logo_line .last {
            text-align: center; }
            #main .contain > .content .c_body .c_body_content .c_body_top.tpq .logo_line .last img {
              margin-left: 40px; }
          #main .contain > .content .c_body .c_body_content .c_body_top.tpq .logo_line img {
            width: 128px;
            height: 148px; }
          #main .contain > .content .c_body .c_body_content .c_body_top.pxxf {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between; }
            #main .contain > .content .c_body .c_body_content .c_body_top.pxxf img {
              width: 440px;
              height: 396px;
              margin-left: 12px; }
            #main .contain > .content .c_body .c_body_content .c_body_top.pxxf .c_body_top_content {
              margin-top: 44px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.pxxf .c_body_top_content .c_body_font {
                margin-top: 14px;
                line-height: 28px;
                font-size: 14px;
                color: #4D555D;
                height: 84px; }
                #main .contain > .content .c_body .c_body_content .c_body_top.pxxf .c_body_top_content .c_body_font h5 {
                  font-family: PingFangSC-Medium;
                  font-size: 14px;
                  color: #4D555D;
                  line-height: 28px; }
                #main .contain > .content .c_body .c_body_content .c_body_top.pxxf .c_body_top_content .c_body_font p {
                  font-family: PingFangSC-Regular;
                  font-size: 14px;
                  color: #4D555D;
                  line-height: 28px; }
              #main .contain > .content .c_body .c_body_content .c_body_top.pxxf .c_body_top_content a {
                margin-top: 34px;
                display: block;
                width: 110px;
                height: 42px;
                background: #0E8694;
                border-radius: 5px;
                line-height: 42px;
                text-align: center;
                font-family: PingFangSC-Regular;
                font-size: 16px;
                color: #FFFFFF; }
          #main .contain > .content .c_body .c_body_content .c_body_bottom.hx {
            margin: 41px 0;
            display: flex;
            display: -webkit-flex;
            justify-content: center; }
            #main .contain > .content .c_body .c_body_content .c_body_bottom.hx .c_body_bottom_content {
              width: 380px;
              display: flex;
              display: -webkit-flex;
              justify-content: space-between; }
              #main .contain > .content .c_body .c_body_content .c_body_bottom.hx .c_body_bottom_content a {
                font-family: PingFangSC-Regular;
                display: block;
                width: 160px;
                height: 48px;
                text-align: center;
                line-height: 46px;
                border: #009999 solid 1px;
                box-sizing: border-box;
                border-radius: 24px;
                color: #4D555D; }
                #main .contain > .content .c_body .c_body_content .c_body_bottom.hx .c_body_bottom_content a.active {
                  background-color: #009999;
                  color: #fff; }
          #main .contain > .content .c_body .c_body_content .c_body_bottom.last > h5 {
            line-height: 33px;
            margin-bottom: 30px;
            font-family: PingFangSC-Medium;
            font-size: 24px;
            color: #30363E; }
          #main .contain > .content .c_body .c_body_content .c_body_bottom.last .contain {
            width: 1168px;
            display: flex;
            display: -webkit-flex;
            justify-content: space-between; }
            #main .contain > .content .c_body .c_body_content .c_body_bottom.last .contain .card {
              width: 262px;
              text-align: center; }
              #main .contain > .content .c_body .c_body_content .c_body_bottom.last .contain .card .card-header {
                text-align: center;
                margin-bottom: 16px; }
                #main .contain > .content .c_body .c_body_content .c_body_bottom.last .contain .card .card-header img {
                  width: 152px;
                  height: 152px; }
              #main .contain > .content .c_body .c_body_content .c_body_bottom.last .contain .card > h5 {
                font-family: PingFangSC-Medium;
                font-size: 14px;
                color: #4D555D;
                text-align: center;
                line-height: 28px; }
              #main .contain > .content .c_body .c_body_content .c_body_bottom.last .contain .card.xy > h5 {
                font-family: PingFangSC-Medium;
                font-size: 18px;
                color: #4D555D;
                text-align: center;
                line-height: 28px; }
              #main .contain > .content .c_body .c_body_content .c_body_bottom.last .contain .card .card-content {
                text-align: left;
                margin-top: 12px;
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #4D555D;
                line-height: 28px; }
                #main .contain > .content .c_body .c_body_content .c_body_bottom.last .contain .card .card-content span {
                  white-space: nowrap; }
          #main .contain > .content .c_body .c_body_content .c_body_main {
            margin-bottom: 61px;
            display: flex;
            display: -webkit-flex;
            justify-content: center; }
            #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left {
              margin-right: 128px; }
              #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left .left_top h5 {
                font-family: PingFangSC-Medium;
                line-height: 33px;
                font-size: 24px;
                margin-bottom: 21px;
                color: #30363E; }
              #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left .left_top span {
                color: #4D555D;
                display: block;
                width: 540px;
                height: 112px;
                font-size: 14px;
                line-height: 28px;
                margin-bottom: 33px;
                font-family: PingFangSC-Regular; }
                #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left .left_top span.php_content {
                  width: 505px; }
              #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left .left_top a {
                display: block;
                width: 110px;
                height: 42px;
                font-size: 16px;
                line-height: 42px;
                text-align: center;
                background-color: #0E8694;
                color: #FFF;
                border-radius: 5px;
                font-family: PingFangSC-Regular; }
              #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left .left_top ul {
                margin-bottom: 33px;
                list-style-type: none; }
                #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left .left_top ul li {
                  color: #4D555D;
                  font-family: PingFangSC-Regular;
                  font-size: 14px;
                  line-height: 28px; }
                #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left .left_top ul li:before {
                  content: "";
                  display: inline-block;
                  width: 8px;
                  height: 8px;
                  background: #CECECE;
                  border-radius: 50%;
                  margin-right: 10px; }
              #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left .left_bottom {
                margin-top: 15px;
                height: 158px;
                width: 510px;
                display: flex;
                display: -webkit-flex; }
                #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left .left_bottom span.dot_content {
                  display: block;
                  width: 446px;
                  height: 52px;
                  font-family: PingFangSC-Regular;
                  font-size: 14px;
                  color: #4D555D;
                  line-height: 26px;
                  margin-top: 40px; }
                #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left .left_bottom span.dot {
                  font-family: ArialMT;
                  font-size: 90px;
                  color: #CCCCCC;
                  display: block;
                  width: 30px;
                  height: 100px;
                  align-self: auto; }
                  #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left .left_bottom span.dot.right_dot {
                    height: 60px;
                    align-self: flex-end;
                    margin-top: 68px;
                    background: url("../img/yinhaoright@2x.png") no-repeat top left;
                    background-size: 25px 23px; }
                  #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left .left_bottom span.dot.left_dot {
                    background: url("../img/yinhaoleft@2x.png") no-repeat top left;
                    background-size: 25px 23px;
                    margin-top: 25px; }
              #main .contain > .content .c_body .c_body_content .c_body_main .c_body_left img.phppic2 {
                margin-top: 17px;
                width: 520px;
                height: 404px; }
            #main .contain > .content .c_body .c_body_content .c_body_main .c_body_right img.phppic1 {
              margin-top: 17px;
              width: 441px;
              height: 413px; }
            #main .contain > .content .c_body .c_body_content .c_body_main .c_body_right img.phppic3 {
              width: 509px;
              height: 586px; }
            #main .contain > .content .c_body .c_body_content .c_body_main .c_body_right .left_top h5 {
              font-family: PingFangSC-Medium;
              line-height: 33px;
              font-size: 24px;
              margin-bottom: 21px;
              color: #30363E; }
            #main .contain > .content .c_body .c_body_content .c_body_main .c_body_right .left_top span {
              color: #4D555D;
              display: block;
              width: 540px;
              height: 112px;
              font-size: 14px;
              line-height: 28px;
              margin-bottom: 33px;
              font-family: PingFangSC-Regular; }
              #main .contain > .content .c_body .c_body_content .c_body_main .c_body_right .left_top span.php_content {
                width: 505px; }
            #main .contain > .content .c_body .c_body_content .c_body_main .c_body_right .left_top a {
              display: block;
              width: 110px;
              height: 42px;
              font-size: 16px;
              line-height: 42px;
              text-align: center;
              background-color: #0E8694;
              color: #FFF;
              border-radius: 5px;
              font-family: PingFangSC-Regular; }
            #main .contain > .content .c_body .c_body_content .c_body_main .c_body_right .left_top ul {
              margin-bottom: 33px;
              margin-left: 18px; }
              #main .contain > .content .c_body .c_body_content .c_body_main .c_body_right .left_top ul li {
                color: #4D555D; }
            #main .contain > .content .c_body .c_body_content .c_body_main .c_body_right .left_bottom {
              margin-top: 15px;
              height: 158px;
              width: 510px;
              display: flex;
              display: -webkit-flex; }
              #main .contain > .content .c_body .c_body_content .c_body_main .c_body_right .left_bottom span.dot_content {
                display: block;
                width: 446px;
                height: 52px;
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #4D555D;
                line-height: 26px;
                margin-top: 40px; }
              #main .contain > .content .c_body .c_body_content .c_body_main .c_body_right .left_bottom span.dot {
                font-family: ArialMT;
                font-size: 90px;
                color: #CCCCCC;
                display: block;
                width: 30px;
                height: 100px;
                align-self: auto; }
                #main .contain > .content .c_body .c_body_content .c_body_main .c_body_right .left_bottom span.dot.right_dot {
                  height: 60px;
                  margin-top: 88px;
                  background: url("../img/yinhaoright@2x.png") no-repeat top left;
                  background-size: 25px 23px; }
                #main .contain > .content .c_body .c_body_content .c_body_main .c_body_right .left_bottom span.dot.left_dot {
                  background: url("../img/yinhaoleft@2x.png") no-repeat top left;
                  background-size: 25px 23px;
                  margin-top: 25px; }

#footer {
  z-index: 20; }
  #footer .detail {
    z-index: 20;
    height: 227px;
    background: #333333; }
    #footer .detail .content {
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      padding-top: 36px; }
      #footer .detail .content .footer_logo {
        height: 120px; }
      #footer .detail .content .friend_address {
        margin: 0 38px;
        border-left: 1px solid rgba(255, 255, 255, 0.303);
        border-right: 1px solid rgba(255, 255, 255, 0.303);
        display: flex;
        display: -webkit-flex;
        justify-content: space-around;
        width: 641px; }
        #footer .detail .content .friend_address span,
        #footer .detail .content .friend_address a {
          display: block; }
        #footer .detail .content .friend_address span {
          opacity: 0.5;
          font-family: PingFangSC-Regular;
          font-size: 18px;
          color: #FFFFFF; }
        #footer .detail .content .friend_address a {
          opacity: 0.5;
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #FFFFFF;
          line-height: 28px; }
      #footer .detail .content .qr_code {
        width: 276px;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between; }
        #footer .detail .content .qr_code .qywb,
        #footer .detail .content .qr_code .gfwx {
          text-align: center; }
          #footer .detail .content .qr_code .qywb img,
          #footer .detail .content .qr_code .gfwx img {
            width: 100px; }
          #footer .detail .content .qr_code .qywb span,
          #footer .detail .content .qr_code .gfwx span {
            display: block;
            opacity: 0.5;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #FFFFFF;
            line-height: 28px; }
  #footer .bqsy {
    height: 48px;
    background: #000000;
    text-align: center;
    position: relative; }
    #footer .bqsy span {
      opacity: 0.5;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #FFFFFF;
      line-height: 48px; }
    #footer .bqsy .kuai {
      position: absolute;
      display: block;
      width: 18px;
      height: 18px;
      opacity: 0.5;
      color: #FFFFFF;
      top: 0;
      left: 0; }

#go_top {
  position: fixed;
  right: 0;
  top: 160px;
  width: 80px;
  height: 480px;
  background: #F3F5F7; }
  #go_top .kuai a {
    display: block;
    width: 80px;
    height: 80px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    box-sizing: border-box;
    border-bottom: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7; }
    #go_top .kuai a span {
      display: block; }
    #go_top .kuai a img {
      border: none;
      margin-top: 16px;
      width: 32px;
      height: 32px; }
  #go_top .kuai.mfsx {
    text-align: center; }
    #go_top .kuai.mfsx a {
      border-left: none;
      background: #0E8694;
      color: #fff; }
    #go_top .kuai.mfsx img {
      width: 34px;
      height: 28px; }
  #go_top .kuai.sqyh {
    text-align: center; }
    #go_top .kuai.sqyh a:hover {
      background: #0E8694;
      color: #fff;
      border: none; }
  #go_top .kuai.mqzp {
    text-align: center; }
    #go_top .kuai.mqzp a:hover {
      background: #0E8694;
      color: #fff;
      border: none; }
  #go_top .kuai.xfjg {
    text-align: center; }
    #go_top .kuai.xfjg a:hover {
      background: #0E8694;
      color: #fff;
      border: none; }
  #go_top .kuai.kbjh {
    text-align: center; }
    #go_top .kuai.kbjh a:hover {
      background: #0E8694;
      color: #fff;
      border: none; }
  #go_top .kuai.wybm {
    text-align: center; }
    #go_top .kuai.wybm a:hover {
      background: #0E8694;
      color: #fff;
      border: none; }
  #go_top .top {
    margin-top: 11px;
    background: #0E8694; }
    #go_top .top a {
      display: block;
      width: 80px;
      height: 80px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #FFF;
      text-align: center; }
      #go_top .top a span {
        display: block; }
      #go_top .top a img {
        margin-top: 16px;
        width: 32px;
        height: 30px; }
